/* Tabs Style */
h2{
	text-align: center;
	padding-right: 6px;
}
ul#tabs { 
	list-style-type: none;
	margin: 9px 0 0 0; 
	padding: 0 0 0.3em 0; 
}
ul#tabs li { 
	display: inline; 
}
ul#tabs li a { 
	padding: 1.6em; 
	text-decoration: none; 
}
ul#tabs li a:hover { 
	background-color: #f1f0ee; 
}
ul#tabs li a.selected { 
	border: 1px solid #c9c3ba; 
	border-bottom: none; 
	padding: 1.6em; 
	text-decoration: none; 
	color: #000; 
	background-color: #f1f0ee; 
}
div.tabContent { 
	border: 1px solid #c9c3ba;
	padding: 0.5em;
	background-color: #f1f0ee;
}
div.tabContent.hide { 
	display: none;
}

.myButtons {
	border: 1px solid #c9c3ba;
	padding: 0em;
	padding-bottom: 0em;
	text-decoration: none;
	color: #000;
	background-color: #fcfcfc;
	width: 100px;
	height: 70px;
}

/* Console */
.console {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.15;
}

.hideDiv{
	visibility: hidden;
}

/* Grid of 3 */
.span_3_of_3 {
	width: 100%; 
}
.span_2_of_3 {
	width: 66.13%; 
}
.span_1_of_3 {
	width: 32.26%; 
}

/* Grid of 9 */
.span_9_of_9 {
	width: 100%;
}
.span_8_of_9 {
	width: 88.71%;
}
.span_7_of_9 {
	width: 77.42%; 
}
.span_6_of_9 {
	width: 66.13%; 
}
.span_5_of_9 {
	width: 54.84%; 
}
.span_4_of_9 {
	width: 43.55%; 
}
.span_3_of_9 {
	width: 32.26%;
}
.span_2_of_9 {
	width: 20.97%; 
}
.span_1_of_9 {
	width: 9.68%; 
}

/* Grid of 10 */
.span_10_of_10 {
	width: 100%;
}
.span_9_of_10 {
  	width: 90%;
}
.span_8_of_10 {
  	width: 80%;
}
.span_7_of_10 {
  	width: 70%;
}
.span_6_of_10 {
  	width: 60%;
}
.span_5_of_10 {
  	width: 50%;
}
.span_4_of_10 {
  	width: 40%;
}
.span_3_of_10 {
  	width: 30%;
}
.span_2_of_10 {
  	width: 20%;
}
.span_1_of_10 {
  	width: 10%;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	background: #ddd;
	padding: 1em 0;
	text-align: center;
}
.col2 {
	display: block;
	float: left;
	padding: 0em;
	margin: 0;
	text-align: center;
    line-height: 0;
}
.col:first-child, .col2:first-child { 
	margin-left: 0; 
} /* all browsers except IE6 and lower */

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3,
	.span_9_of_9, .span_8_of_9, .span_7_of_9, .span_6_of_9, .span_5_of_9, .span_4_of_9, .span_3_of_9, .span_2_of_9, .span_1_of_9 {
	width: 100%; 
	}
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.nopadd {
	padding: 0em;
	margin: 0px;
}

.mygridthing{
	width: 100%;
	float: left;
	padding: 0em;
	margin: 0 0 0 1.4%;
	line-height: 0px;
}

.mygridthing img{
	float: left;
	padding: 0em;
	margin: 0px;
}